.fb-feature-container {
	border: 0;
	box-sizing: border-box;
	display: block;
	float: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.fb-feature-row-1 {
	border: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
}
.fb-feature-row-2 {
	border: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
}
.fb-feature-column {
	align-items: center;
	border: 0;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	margin: 5px 0;
	padding: 0;
	width: 50%;
}
.fb-feature-text-container {
	border: 0;
	box-sizing: border-box;
	display: block;
	float: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.fb-feature-text-left {
	border: 0;
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
	padding: 20px 40px 20px 0;
}
.fb-feature-text-left p {
	line-height: 2;
	margin: 0 0 20px 0;
	text-align: left;
}
.fb-feature-text-right {
	border: 0;
	box-sizing: border-box;
	display: block;
	float: right;
	margin: 0;
	padding: 20px 0 20px 40px;
}
.fb-feature-text-right p {
	line-height: 2;
	margin: 0 0 20px 0;
	text-align: left;
}
.fb-feature-image {
	border: 0;
	box-sizing: border-box;
	clear: both;
	display: flex;
	float: none;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}
.fb-feature-text-left .button {
	float: right;
}
.fb-feature-text-right .button {
	float: left;
}
.fb-after-flex {
	display: block;
	float: none;
	margin: 40px auto 0 auto;
}
@media screen and (max-width: 768px) {

.fb-columns-container {
	flex-direction: column;
	flex-flow: column;
	justify-content: center;
}
.fb-feature-text-left {
	margin: 0 auto;
	padding: 15px 40px 15px 40px;
	text-align: center;
}
.fb-feature-text-left  p {
		text-align: center;
}
.fb-feature-text-right {
	margin: 0 auto;
	padding: 15px 40px 15px 40px;
	text-align: center;
}
.fb-feature-text-right  p {
		text-align: center;
}
.fb-feature-row-1 {
	flex-direction: column;
}
.fb-feature-row-2 {
	flex-direction: column-reverse;
}
.fb-feature-column {
	width: 100%;
	height: 100%;
}
.fb-feature-text-left .button {
	float: none;
	margin: 0 auto;
}
.fb-feature-text-right .button {
	float: none;
	margin: 0 auto;
}
 }
@media screen and (max-width: 490px) {
.fb-feature-text-left {
	margin: 0;
	padding: 15px 10px 15px 10px;
	text-align: center;
}
.fb-feature-text-right {
	margin: 0;
	padding: 15px 10px 15px 10px;
	text-align: center;
}
 }