.genesis-grid-img {
	margin-bottom: 15px;
}
.video {
	clear: both;
	float: none;
	margin: 0 0 40px 0;
	padding: 56.25% 0 0 0;
	position: relative;
}
iframe {
	border: none;
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	max-width: 100%;
	width: 100%;
}
.footer-widgets a, .footer-widgets a:focus, .footer-widgets a:hover {
	color: #fff;
	text-decoration: none;
}
.footer-widgets a, .footer-widgets a:focus, .footer-widgets a:hover {
	color: #eee;
	text-decoration: none;
}
.footer-widgets a, .menu-item a {
	display: block;
}
.main-dark-color {
	color: #363062;
}
.secondary-dark-color {
	color: #522d5b;
}
.main-light-color {
	color: #4d4c7d;
}
scondary-light-color {
	color: #676D94;
}
.main-link-color {
	color: #5745B1;
}
.main-link-hover-color {
	color: #363062;
}